* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dorado: #d4a413;
}

body {
    background: #EFEFEF;
    color: #363639;
    font-family: 'Work Sans', sans-serif;
}

@font-face {
    font-family: 'Satisfy', cursive;
    src: 'Satisfy-Regular.ttf'
}

.boton {
    border-radius: 20px !important;
    background-color: #efb810;
    border-color: transparent;
}
.hr {
    border: none;
    height: 6px;
    width: 100%;
    color: #f3c332;
    background-color: #f3c332;
}

/*? --Carrousel */
.carousel-indicators {
    bottom: -42px;
}

/* ?---- Titulos */
.titulo {
    font-family: 'Satisfy';
    font-size: 43px;
}

.bg-dorado {
    background-color: var(--dorado) !important;
}

.color-dorado {
    color: var(--dorado) !important;
}

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
    display: flex;
    justify-content: center;
}

.simply-section {
    background: #fff;
    width: 45px;
    height: 45px;
    margin: 0 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.simply-word {
    display: none;
    font-weight: 300;
    font-size: 20px;
}

.tiempo {
    width: 45px;
    height: 45px;
    margin: 0 20px;
}